div.logo_area
	a(href="/home/main/")
		img#mainLogoCic.logo_node(src="/img/cmm/logo_node.png"  border="0"  style="cursor:pointer")
div.util_area
	ul
		li
			a.btn_icon_set.btn_util.layer_trigger(href="/logout")
